.element__delete {
  background-image: url(../../../images/Trash.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
}

.element__delete:hover {
  opacity: 0.6;
}
