.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px 17px;
  margin: 47px auto 0;
  padding: 0;
}
@media screen and (max-width: 1279px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 36px;
  }
}

@media screen and (max-width: 550px) {
  .elements {
    max-width: 400px;
  }
}
