.element__like-button_active {
  background-image: none;
  opacity: 1 !important;
}

.element__like-button_active::after {
  opacity: 1;
  animation: heartbeat 0.45s ease-in-out forwards;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}